/* style.css */

body {
    font-family: 'Roboto', Georgia, serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: #561643;
    align-content: center;
    padding: 10px 0;
}

.logo {
    width: 150px;
    height: auto;
    margin: 0 auto 0 10%;
}

.kids-img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    border: solid 2px black;
    margin-right: 10%;
}

ul {
    display: flex;
    gap: 15px;
    font-size: 18px;
    list-style: none;
    font-weight: 900;
    margin-right: 10%;
    padding: 0;
}

.header-link {
    text-decoration: none;
    color: white;
}

.div-one {
    display: flex;
    background-color: #561643;
    gap: 30px;
    padding: 30px 0;
    align-content: center;
    justify-content: space-between;
}

.hero {
    max-width: 400px;
    margin-left: 10%;
}

.hero-h1 {
    color: white;
    font-weight: 1000;
}

.hero-span {
    margin-top: 10px;
    color: white;
}

.signup {
    display: block;
    margin-top: 10px;
    background-color: #FF8966;
    border-radius: 6px;
    padding: 5px 15px;
}

.div-two {
    padding: 20px;
}

.goal-img {
    width: 150px;
    height: 150px;
}

.main-wrap {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-top: 40px;
}

.main-info {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
    gap: 20px;
}

.div-three {
    background-color: #e5e7eb;
    text-align: left;
    padding: 100px 20%;
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
}

.quote {
    display: block;
    text-align: right;
    font-weight: 700;
    font-style: normal;
    margin-top: 10px;
}

.div-four {
    padding: 50px 10%;
    color: white;
}

.cta {
    display: flex;
    padding: 35px 80px;
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
}

.cta div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 50%;
    font-weight: 900;
}

.sub-cta {
    font-weight: normal;
}

.div-four button {
    background-color: #3882f6;
    color: white;
    align-self: center;
    font-weight: bold;
    border: solid white 2px;
    border-radius: 4px;
    padding: 5px 20px;
    margin-left: auto;
}

footer {
    
    box-sizing: border-box;
    margin-top: auto;
    padding: 15px;
    background-color: #E5D4ED;
    text-align: center;
}