/* style.css */

body {
    font-family: 'Roboto', Georgia, serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: #561643;
    align-content: center;
    padding: 10px 0;
}

.logo {
    width: 150px;
    height: auto;
    margin: 0 auto 0 10%;
}

.kids-img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    border: solid 2px black;
    margin-right: 10%;
}

ul {
    display: flex;
    gap: 15px;
    font-size: 18px;
    list-style: none;
    font-weight: 900;
    margin-right: 10%;
    padding: 0;
}

.header-link {
    text-decoration: none;
    color: white;
}

.div-one {
    display: flex;
    background-color: #561643;
    gap: 30px;
    padding: 30px 0;
    align-content: center;
    justify-content: space-between;
}

.hero {
    max-width: 400px;
    margin-left: 10%;
}

.hero-h1 {
    color: white;
    font-weight: 1000;
}

.hero-span {
    margin-top: 10px;
    color: white;
}

.signup {
    margin-top: 10px;
    background-color: #FF8966;
    border-radius: 6px;
    padding: 5px 15px;
}

.div-two {
    padding: 20px;
}

.goal-img {
    width: 150px;
    height: 150px;
}

.main-wrap {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.main-info {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
    gap: 10px;
}

.div-three {
    background-color: pink;

}

.div-four {
    background-color: blue;
}

footer {
    
    box-sizing: border-box;
    margin-top: auto;
    padding: 15px;
    background-color: #E5D4ED;
    text-align: center;
}